*
!*/

!map_p=4.png
!README.md
!.gitignore
!.gitmodules
!.gitkeep
!/src/
!/module_py/
!/src/*.py
!/src/module_py/*.py
!/module_fort/
!/src/module_fort/*.f90
!/include/
!/obj/
!/sobj/
!*.sh
!Makefile
!/submodule/monolis_utils